* {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.flex{
    color: rgb(204, 228, 208);
}
.navbar {
    display : flex;
    gap: 50px;
    font-size: larger;
    list-style: none;
    padding-top:20px ;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}


nav ul li a {
    color: white;
}
 nav ul li a:hover {
    color :blue;
}
.heropage {
    background-image: url(images/editphoto2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:50vh;
}

.hero {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    color: #A88E8E;
    background-image: url(images/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:100vh;
    padding: 0px;
    margin-top: 0%;
    
}
span {
    display: flex;
}
h1 {
    padding-top: 100px;
    padding-left: 200px;
}
h3 {
    color: white;
    
}
.my{
    color:white;   
}
.name{
    color:rgb(103, 52, 52);
}
.section2 {
    padding: 60px 50px;
    
    background-color: #D9D9D9;
}
.section2 h2{
    font-size: 40px;
}
p {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.section3 {
    text-align: center;
    background-color: #D9D9D9;
}
.mywork-menu  {
    margin-bottom: 20px;
    align-items: center;
}
.mywork-menu button {
    background: none;
    border: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    cursor: pointer;
    margin: 0 15px;
}
.mywork-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.item {
    display: block;
    transition: all 0.3s ease;
}
.item.hide {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}
.section3 .mywork-item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px;
    margin-top: 30px;
}

.section3 .item {
    width: 100%;
    height: 250px; /* fixed height so all items equal */
    overflow: hidden;
    border-radius: 10px;
}

.section3 .item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* keeps image natural but fills the box */
    display: block;
}
.section4 {
    margin: 30px;
    display: flex;
    padding: 40px 40px;
    gap: 20px

}
.sec1pro {
   display : flex;
   flex-direction: column;
   gap : 20px;
   align-items: center;
   background-color: #eae7e7;
   padding: 20px;
}
.vid {
    height: 50vh;
    width:500px;
    }
.instagram-media {
    height: 90vh;
    width:500px;
}
.img {
    width: 300px;
}
